@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Navbar Home Page*/
/* Background dan padding navbar */
* {
    font-family: 'Poppins', sans-serif;
}
body {
    padding-top: 80px;
    background-color: #0A0F2C;
    /* Sesuaikan dengan tinggi navbar */
}
.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-utama {
    margin: 0;
}

.custom-navbar {
    background-color: #0A0F2C;
    padding: 5px 70px;
}

.logo-navbar {
    width: 210px;
}

/* Link nav */
.custom-navbar .nav-link {
    font-weight: 400;
    font-size: 16px;
}

.button-text {
    color: #ffffff;
}

.button-text:hover {
    color: #D4AF37;
}

/* Tombol Order */
.custom-navbar {
    background-color: #0d0f2b;
    padding: 10px 20px;
}

.order-button {
    background: #D4AF37;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 20px;
    border: none;
    transition: 0.3s;
}

.order-button:hover {
    background: #ffffff;
    color: #000000;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.order-table {
    border: #0d0f2b;
}
/* Tabel Admin */
.table-admin {
  background-color: #0A0F2C;
  color: #fff;
}

/* Table style */
.table-admin .table {
  background-color: #0A0F2C;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #D4AF37;
  border-radius: 12px;
  overflow: hidden;
}

/* Header tabel */
.table-admin .table thead {
  background-color: #1c1f2f;
  color: #D4AF37;
}

/* Header th */
.table-admin .table thead th {
  border-top: 1px solid #D4AF37;
  border-bottom: 1px solid #D4AF37;
  padding: 16px;
  text-align: center;
}

/* Border samping header */
.table-admin .table thead th:first-child {
  border-left: 1px solid #D4AF37;
  border-top-left-radius: 12px;
}
.table-admin .table thead th:last-child {
  border-right: 1px solid #D4AF37;
  border-top-right-radius: 12px;
}

/* Isi tabel */
.table-admin .table tbody td {
  background-color: #0A0F2C;
  color: #fff;
  border-top: 1px solid #D4AF37;
  border-bottom: 1px solid #D4AF37;
  padding: 16px;
  vertical-align: middle;
}

/* Border samping isi */
.table-admin .table tbody td:first-child {
  border-left: 1px solid #D4AF37;
}
.table-admin .table tbody td:last-child {
  border-right: 1px solid #D4AF37;
}

/* Hover efek */
.table-admin .table tbody tr:hover {
  background-color: #131a33;
}

/* Select */
.table-admin .form-select {
  background-color: #0A0F2C;
  color: #fff;
  border: 1px solid #D4AF37;
}

.table-admin .form-select:focus {
  border-color: #D4AF37;
  box-shadow: 0 0 0 0.25rem rgba(212, 175, 55, 0.25);
}
