@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Navbar Home Page*/
/* Background dan padding navbar */
* {
    font-family: 'Poppins', sans-serif;
}

.custom-navbar {
    background-color: #0A0F2C;
    padding: 5px 70px;
}

.logo-navbar {
    width: 210px;
}

/* Link nav */
.custom-navbar .nav-link {
    font-weight: 400;
    font-size: 16px;
}

.button-text {
    color: #ffffff;
}

.button-text:hover {
    color: #D4AF37;
}

/* Tombol Order */
.custom-navbar {
    background-color: #0d0f2b;
    padding: 10px 20px;
}

.order-button {
    background: #D4AF37;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 20px;
    border: none;
    transition: 0.3s;
}

.order-button:hover {
    background: #D4AF37;
    color: white;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Hero Section */
.hero {
    background-color: #0A0F2C;
}

.text-main-tagline {
    color: #D4AF37;
    font-weight: 600;
}

.hero img {
    vertical-align: middle;
    width: 200px;
}

.hero .dinamo {
    border-radius: 100px;
}

.text-content {
    background-color: #D4AF37;
    padding : 80px 0 250px 0;    
    margin-top: -50px;
}

.card {
    border: none;
    border-radius: 0;
}

.card-tagline {
    margin-top: -30px;
    padding-top: 10px;
}

.card-content {
    align-items: center;
    width: 74%;
    margin-top: -240px;
}
.content {
    background-color: #0A0F2C;
    margin: 10px;
    border-radius: 20px;
}
.image-content {
    width: 100%;
}
.descript-content {
    font-size: 15px;
    margin: 0 30px;
    padding-top: 20px;
}
.btn-content {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    padding: 0 20px;
    border-radius: 10px;
}
.btn-content:hover {
    background-color: #bababa;
}

@media (max-width: 1400px) {
    .text-tagline {
        font-size: 60px;
    }
    .hero img {
    vertical-align: middle;
    width: 150px;
    }
}

/* Tambahan untuk menu mobile */
@media (max-width: 1200px) {
    .text-tagline {
        font-size: 50px;
    }
    .hero img {
    vertical-align: middle;
    width: 150px;
}
}

/* Tambahan untuk menu mobile */
@media (max-width: 1000px) {
    .navbar-collapse {
        background-color: #0d0f2b;
        padding: 1rem;
    }
    .hero {
        padding-bottom: 50px;
    }
    .card-tagline {
        margin-top: -50px;
    }
    .text-content {
        margin-top: -90px;
    }
    .navbar-nav {
        align-items: flex-end !important;
    }
    .text-tagline {
        font-size: 35px;
    }
    .hero img {
        vertical-align: middle;
        width: 130px;
    }
    .text-content {
        padding-top: 120px;
    }
    .descript-content {
        font-size: 12px;
    }
}


@media (max-width: 700px) {
    .text-tagline {
        font-size: 40px;
    }
    .hero img {
        vertical-align: middle;
        width: 120px;
    }   
}

@media (max-width: 500px) {
    .tagline {
        margin-top: -50px;
    }
    .logo-navbar {
        width: 120px;
    }
    .text-tagline {
        font-size: 36px;
    }
    .hero img {
        vertical-align: middle;
        width: 90px;
    }  
    .hero {
        padding-bottom: 150px;
    }
    .card-tagline {
        margin-top: -90px;
    }
    .text-content {
        margin-top: -160px;
        padding-top: 200px;
    }
}
@media (max-width: 390px) {
    .tagline {
        margin-top: -50px;
    }
    .logo-navbar {
        width: 110px;
    }
    .text-tagline {
        font-size: 30px;
    }
    .hero img {
        vertical-align: middle;
        width: 50px;
    }   
}