@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Navbar Home Page*/
/* Background dan padding navbar */
* {
    font-family: 'Poppins', sans-serif ;
}
.custom-navbar {
    background-color: #0A0F2C;
    padding: 5px 70px;
}

.logo-navbar {
    width: 210px;
}
/* Link nav */
.custom-navbar .nav-link {
    font-weight: 400;
    font-size: 16px;
}

.button-text {
    color: #ffffff;
}

.button-text:hover {
    color: #D4AF37;
}

/* Tombol Order */
.order-button {
    background: #D4AF37;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s;
}

.order-button:hover {
    background: #ffffff;
    color: #0A0F2C;
}

/* Hero Section */
.hero {
    background-color: #0A0F2C;
}

.text-main-tagline {
    color: #D4AF37;
    font-weight: 600;
}
.hero img {
    vertical-align: middle;
    width: 200px;
}

.hero .dinamo {
    border-radius: 100px;
}